# Исследование надежности заемщиков

**Цель исследования** - Разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.


**Описание данных**

* children — количество детей в семье
* days_employed — общий трудовой стаж в днях
* dob_years — возраст клиента в годах
* education — уровень образования клиента
* education_id — идентификатор уровня образования
* family_status — семейное положение
* family_status_id — идентификатор семейного положения
* gender — пол клиента
* income_type — тип занятости
* debt — имел ли задолженность по возврату кредитов
* total_income — ежемесячный доход
* purpose — цель получения кредита


**План работ**
1. Обзор и предобработка данных
2. Исследование данных
3. Вывод

## Обзор и предобработка данных

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('data.csv')

In [7]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Проверим, есть ли пропуски в данных:

In [11]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income           0
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — days_employed. Пропуски в этом столбце обработаем на следующем этапе. Другой столбец с пропущенными значениями — total_income — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца income_type. Например, у человека с типом занятости *сотрудник* пропуск в столбце total_income должен быть заполнен медианным доходом среди всех записей с тем же типом.

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

Обработаем артефакты в данных, а именно отрицательное количество дней трудового стажа в столбце days_employed. Заменим все отрицательные значения в этом столбце положительными с помощью метода abs().

In [14]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа days_employed в днях:

In [15]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Оставим их как есть, они не понадобятся для исследования.

Выведем перечень уникальных значений столбца children:

In [18]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

В столбце children есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма data и проверим результат:

In [17]:
data = data[(data['children'] != -1) & (data['children'] != 20)]
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

Заполним пропуски в столбце days_employed медианными значениями по каждого типа занятости income_type:

In [20]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [ ]:
Убедимся, что все пропуски заполнены:

In [21]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

Заменим вещественный тип данных в столбце total_income на целочисленный с помощью метода astype():

In [22]:
data['total_income'] = data['total_income'].astype(int)

Обработаем неявные дубликаты в столбце education. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру:

In [23]:
data['education'] = data['education'].str.lower()

Проверим, есть ли дубликаты в данных:

In [24]:
data.duplicated().sum()

71

Удалим дубликаты и проверим результат:

In [25]:
data = data.drop_duplicates()
data.duplicated().sum()

0

На основании диапазонов, указанных ниже, создадим в датафрейме data столбец total_income_category с категориями:

* 0–30000 — 'E';
* 30001–50000 — 'D';
* 50001–200000 — 'C';
* 200001–1000000 — 'B';
* 1000001 и выше — 'A'.

In [26]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [27]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца purpose:

In [29]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца purpose сформирует новый столбец purpose_category, в который войдут следующие категории:

* 'операции с автомобилем',
* 'операции с недвижимостью',
* 'проведение свадьбы',
* 'получение образования'.

In [30]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [32]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследование данных

Проанализируем, есть ли зависимость между количеством детей и возвратом кредита в срок:

In [33]:
data.groupby('children').agg({'debt': ['count', 'sum', 'mean']})

           debt
          count   sum      mean
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

По количеству взятых кредитов в столбце count, видим, что некоторые категории слишком маленькие, а именно категории с 3, 4, 5 детьми. Поэтому далее рассмотрим категории без детей, с 1 ребенком, с 2 детьми по столбцам count и mean. В столбце mean указано среднее значение возврата долгов. Делаем следующие выводы:

* наименьшим спросом пользуются кредиты у людей с 2 детьми
* далее чуть большим спросом пользуются кредиты у людей с 1 ребенком
* значительно большим спросом пользуются кредиты у людей без детей.
* минимальные долги у людей без детей
* далее примерное одинаковые значения больших долгов у людей с 1 и 2 детьми

Таким образом категория без детей являтся наиболее интересной для выдачи кредитов, тк по ней наблюдается самый большой спрос и минимальное количество долгов

Проанализируем, есть ли зависимость между семейным положением и возвратом кредита в срок:

In [34]:
data.groupby('family_status').agg({'debt': ['count', 'sum', 'mean']})

                        debt
                       count  sum      mean
family_status
Не женат / не замужем   2796  273  0.097639
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606

По среднему значению возврата долгов в столбце mean делаем выводы:

* наименьшее количество долгов у вдов/вдовцов
* в порядке возрастания за ними следуют люди в разводе и в браке
* максимальные долги у людей в гражданском браке и у не женатых/не замужних

Рассматривая категории вдовец/вдова, в разводе, женат / замужем по количеству взятых кредитов в столбце count, видим, что значительным и наибольшим спросом пользуются кредиты у людей из категории женат / замужем.

Проверим, есть ли зависимость между уровнем дохода и возвратом кредита в срок:

In [35]:
data.groupby('total_income_category').agg({'debt': ['count', 'sum', 'mean']})

                        debt
                       count   sum      mean
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15921  1353  0.084982
D                        349    21  0.060172
E                         22     2  0.090909

По количеству взятых кредитов в столбце count, видим, что некоторые категории слишком маленькие, а именно категории A, D и E. Поэтому далее рассмотрим категории B и C по столбцам count и mean. В столбце mean указано среднее значение возврата долгов. Делаем следующие выводы:

* в категории B спрос на выдачу кредитов примерно в 3 раза меньше, чем в категории С
* в категории B на 0,014 меньше должников, чем в категории С

Таким образом категория В является самой перспективной с точки зрения возврата кредитов, стоит подумать о том, как можно увеличить спрос на выдачу кредитов в этой категории.

Проверим, как разные цели кредита влияют на его возврат в срок:

In [36]:
data.groupby('purpose_category').agg({'debt': ['count', 'sum', 'mean']})

                           debt
                          count  sum      mean
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

По среднему значению возврата долгов в столбце mean делаем выводы:

* наименьшее количество долгов по кредитам на операции с недвижимостью и на проведение свадеб
* в порядке возрастания за ними следуют долги на получение образования и на операции с автомобилем

Рассматривая количество взятых кредитов в столбце count, видим, что наибольшим спросом пользуются кредиты, взятые для операций с недвижимостью. Много кредитов берут на операции с автомобилем и получение образования, но по этим категориям максимальное количество должников. На проведение свадеб не так часто берут кредиты, но и должников по ним не так много.

Таким образом операции с недвижимостью являются самой перспективной с точки зрения выдачи кредитов.

## Вывод

Наиболее перспективной группой людей для выдачи кредитов являются **женатые пары, без детей, с доходом из катерогии В, взявшие кредит для целей проведения операций с недвижимостью**.